<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#</title>
</head>
<body>
  <h1>this is a html code </h1>
  <p>#{massage}</p>

  <div action="/" method="post" >
    <form action="/" method="POST">
      <input type="text" name="name" id="" placeholder="plese inter"><BR><BR>
        <input type="text" name="lname" id="" placeholder="plese inter"><BR><BR>
        <input type="email" name="email" id="" placeholder="plese inter"><BR><BR>
        <input type="number" name="number" id="" placeholder="plese inter"><BR><BR>
      
          <button>click me</button>
        
    </form>
    
  </div>
  
</body>
</html>