doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #
h1 this is a PUG code 

div
  form(action='/' method='POST')
    input(type='text' name='name' id='' placeholder='plese inter')
    br
    br
    input(type='text' name='lname' id='' placeholder='plese inter')
    br
    br
    input(type='email' name='email' id='' placeholder='plese inter')
    br
    br
    input(type='number' name='number' id='' placeholder='plese inter')
    br
    br
    button click me
h1 #{massage}
